* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    background-color: rgb(239, 233, 233);
    height: 280px;
    width: 400px;
    text-align: center;
    margin-top: 200px;
    margin-left: 550px;
    border-radius: 3px;
    border: 1px solid black;
}

.login h1{
    margin-top: 17px;

}

.inpu {
    color: black;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid rgb(155, 155, 155);
    margin-top: 20px;
    box-shadow: 2px bisque;
    height: 25px;
    width: 250px;
    padding: 10px;
    outline: none;
    
}
.btn{
    width: 225px;
    border: none;
    background-color: rgb(160, 160, 160);
    height: 33px;
    border-radius: 3px;
    font-size: 20px;
    padding:0 25px;
    color: white;
    font-weight: 700;
}
.btn:hover{
    background-color: rgb(206, 206, 206);
}

form p{
    margin-top: 12px;
}