* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register {
    background-color: rgb(239, 233, 233);
    height: 350px;
    width: 400px;
    text-align: center;
    margin-top: 200px;
    margin-left: 550px;
    border-radius: 4px;
    border: 1px solid black;
}

.register h1{
    margin-top: 10px;

}

input {
    color: black;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid rgb(123, 123, 123);
    margin-top: 20px;
    
    height: 25px;
    width: 250px;
    padding: 10px;
    outline: none;
    
}
.btn{
    width: 225px;
    border: none;
    background-color: rgb(180, 179, 179);
    height: 33px;
    border-radius: 3px;
    font-size: 20px;
    padding:0 25px;
    color: rgb(40, 37, 37);
    font-weight: 700;
}
.btn:hover{
    background-color: rgb(151, 151, 151);
}

form p{
    margin-top: 12px;
}